/*build oxnote at 2015-03-05 22:30:04 */
.G-Clear {
  clear: both;
}

.dialog_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.8;
}

.dialog {
  position: fixed;
  min-width: 600px;
  background-color: #FFF8D2;
  border: 2px solid #838383;
}

.dialog .title {
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  color: white;
  text-align: center;
  background-color: #670064;
  border-bottom: 2px solid #838383;
}

.dialog .content {
  min-height: 200px;
}

.dialog .footer {
  height: 50px;
  background-color: #E1F8F8;
}

.dialog .footer .buttons {
  width: 160px;
  margin: 0 auto;
}

.dialog .footer .buttons button {
  width: 60px;
  height: 30px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 30px;
  color: white;
  cursor: pointer;
  background-color: blue;
  border: 0;
  outline: none;
}

.dialog .footer .buttons button:hover {
  background-color: #030383;
}

.dialog .close {
  position: absolute;
  top: 8px;
  right: 10px;
}

.dialog .close a {
  font-family: 'Microsoft Yahei';
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.dialog .close a:hover {
  color: red;
}

.loginForm {
  padding-top: 15px;
}

.loginForm .oneLine {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.loginForm .oneLine input[type="text"],
.loginForm .oneLine input[type="password"] {
  width: 300px;
  height: 30px;
  padding-left: 5px;
  font-size: 16px;
}

.loginForm .register {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}

.loginForm .register a {
  text-decoration: none;
}

.loginForm .register a:hover {
  color: #EDAB1E;
}

.registerForm .oneLine {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.registerForm .oneLine input[type="text"],
.registerForm .oneLine input[type="password"] {
  width: 300px;
  height: 30px;
  padding-left: 5px;
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-y: scroll;
}

.menu_div {
  height: 50px;
  background-color: #670064;
  border-bottom: 1px solid #E8E8FF;
}

.menu_div .inner_menu_div {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.menu_div .inner_menu_div .menu_title {
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  color: white;
}

.menu_div .inner_menu_div ul {
  float: left;
  margin-left: 100px;
}

.menu_div .inner_menu_div ul li {
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  list-style-type: none;
}

.menu_div .inner_menu_div ul li a {
  display: block;
  width: 50px;
  height: 50px;
  font-weight: bold;
  line-height: 50px;
  color: #E8E8FF;
  text-decoration: none;
}

.menu_div .inner_menu_div ul li a:hover {
  color: #DF6626;
  background-color: #E8E8FF;
}

.menu_div .inner_menu_div a {
  display: block;
  float: right;
  line-height: 50px;
  color: #E8E8FF;
  text-decoration: none;
}

.menu_div .inner_menu_div .userInfo {
  position: relative;
  float: right;
}

.menu_div .inner_menu_div .userInfo a {
  display: block;
  float: right;
  min-width: 100px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 50px;
  color: #E8E8FF;
  text-align: right;
  text-decoration: none;
}

.menu_div .inner_menu_div .userInfo ul {
  position: absolute;
  top: 50px;
  display: none;
  width: 100%;
  margin-left: 0;
}

.menu_div .inner_menu_div .userInfo ul li {
  width: 100%;
  text-align: right;
  border-top: 1px solid gray;
}

.menu_div .inner_menu_div .userInfo ul li a {
  display: block;
  float: right;
  width: 100%;
  padding: 0;
  line-height: 50px;
  color: #E8E8FF;
  text-decoration: none;
}

.menu_div .inner_menu_div .userInfo ul li a:hover {
  color: #E8E8FF;
  background-color: #E06426;
}

.menu_div .inner_menu_div .userInfo:hover a {
  font-weight: bold;
  color: black;
  background-color: #E8E8FF;
}

.menu_div .inner_menu_div .userInfo:hover ul {
  display: block;
}

.middle_div {
  width: 1000px;
  margin: 0 auto;
}

.footer_div {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  clear: both;
  font-size: 12px;
  text-align: center;
}

.footer_div p {
  margin-top: 5px;
  line-height: 20px;
}

.footer_div p span {
  font-family: 'Arial';
}

.footer_div a {
  text-decoration: none;
}

.footer_div a:hover {
  color: #EDAB1E;
}

.pay_div {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid gray;
}

.pay_div a {
  text-decoration: none;
}

.pay_div a:hover {
  color: red;
}

.comment {
  margin-top: 10px;
  margin-bottom: 20px;
}

.comment ul.commentUL li {
  display: relative;
  padding: 10px;
  margin-bottom: 20px;
  list-style-type: none;
}

.comment ul.commentUL li .sublayer {
  margin-left: 60px;
}

.comment ul.commentUL li .layer {
  float: right;
}

.comment ul.commentUL li .head {
  display: inline;
}

.comment ul.commentUL li .head img {
  border-radius: 25px;
}

.comment ul.commentUL li .time {
  position: relative;
  top: -15px;
  left: 10px;
  display: inline;
  color: #2980C3;
}

.comment ul.commentUL li .name {
  position: relative;
  top: -15px;
  left: 30px;
  display: inline;
}

.comment ul.commentUL li .name a {
  text-decoration: none;
}

.comment ul.commentUL li .name a:hover {
  color: red;
}

.comment ul.commentUL li .reply {
  position: relative;
  top: -15px;
  left: 50px;
  display: inline;
  display: none;
}

.comment ul.commentUL li .reply a {
  text-decoration: none;
}

.comment ul.commentUL li .reply a:hover {
  color: red;
}

.comment ul.commentUL li .comment {
  font-size: 14px;
  line-height: 20px;
  text-indent: 32px;
}

.comment ul.commentUL li:hover {
  background-color: #F0FFE5;
}

.comment ul.commentUL li:hover .reply {
  display: inline;
}

.comment .loginToComment {
  width: 100%;
  height: 200px;
  margin-top: 30px;
  text-align: center;
  border: 1px solid gray;
}

.comment .loginToComment .info {
  margin-top: 80px;
  font-size: 20px;
}

.comment .loginToComment .info a {
  text-decoration: none;
}

.comment .loginToComment .info a:hover {
  color: red;
}

.comment .userComment {
  height: 200px;
  margin-top: 30px;
  text-align: center;
}

.comment .userComment .replyInfo {
  position: relative;
  display: block;
  width: 98%;
  margin: 10px auto;
  text-align: left;
}

.comment .userComment .replyInfo .replyBox {
  position: absolute;
  left: -120px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  border: 1px dashed #BBD9ED;
}

.comment .userComment .replyInfo .replyBox span {
  position: absolute;
  left: 20px;
}

.comment .userComment .replyInfo .replyBox a {
  position: absolute;
  left: 10px;
  display: none;
  font-family: 'SimHei';
  text-decoration: none;
  outline: none;
}

.comment .userComment .replyInfo .replyBox a:hover {
  color: #D8D8D8;
}

.comment .userComment .replyInfo .replyBox:hover a {
  display: block;
}

.comment .userComment textarea {
  width: 98%;
  height: 160px;
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
  resize: none;
}

.comment .userComment button {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background-color: #63EF2F;
  border: 0;
  outline: none;
}

.comment .userComment button:hover {
  background-color: #2BAD02;
}

.index_div .title_span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #215183;
  text-indent: 5px;
  border-left: 2px solid #215183;
}

.index_div .person_div {
  margin-top: 10px;
}

.index_div .person_div hr {
  margin-top: 10px;
}

.index_div .person_div .one_person_div {
  padding: 5px;
  margin-top: 10px;
  border: 2px dashed #E8E8FF;
  border-radius: 5px;
}

.index_div .person_div .one_person_div .person_name {
  font-size: 16px;
  font-weight: bold;
}

.index_div .person_div .one_person_div .person_info {
  margin-top: 5px;
  font-size: 14px;
  line-height: 20px;
  text-indent: 25px;
}

.index_div .person_div .one_person_div .person_info a {
  text-decoration: none;
}

.index_div .person_div .one_person_div .person_info a:hover {
  color: #EDAB1E;
}

.index_div .half_div {
  float: left;
  width: 500px;
  height: 350px;
  margin-top: 10px;
}

.index_div .half_div .inner_half_div {
  width: 495px;
  margin: 0;
}

.index_div .half_div .inner_half_div hr {
  margin-top: 10px;
}

.index_div .half_div .inner_half_div ul li {
  margin-top: 10px;
  margin-left: 10px;
  list-style-type: none;
  cursor: pointer;
}

.index_div .half_div .inner_half_div ul li a {
  text-decoration: none;
}

.index_div .half_div .inner_half_div ul li .note_title {
  font-size: 20px;
  color: #6AC239;
}

.index_div .half_div .inner_half_div ul li .note_sub_title {
  color: #164A81;
  text-indent: 40px;
}

.index_div .half_div .inner_half_div ul li:hover .note_title {
  color: #DA6D28;
}

.index_div .half_div .inner_half_div ul li:hover .note_sub_title {
  color: #DA6D28;
}

.index_div .half_div .inner_half_div .half_button {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.index_div .half_div .inner_half_div .half_button a {
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  color: black;
  text-decoration: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}

.index_div .half_div .inner_half_div .half_button a:hover {
  background-color: #B4B4B4;
}

.study_div .studies li {
  padding: 10px;
  margin-top: 20px;
  list-style-type: none;
  cursor: pointer;
}

.study_div .studies li:hover {
  background-color: #E8E8FF;
}

.study_div .studies li a {
  text-decoration: none;
}

.study_div .studies li .title {
  font-size: 20px;
  font-weight: bold;
}

.study_div .studies li .tag {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.study_div .studies li .sub_title {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
  text-indent: 20px;
}

.note_div .title_span {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #215183;
  text-indent: 5px;
  border-left: 2px solid #215183;
}

.note_div .block_div {
  float: left;
  width: 1000px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.note_div .block_div hr {
  margin-top: 10px;
}

.note_div .block_div ul li {
  float: left;
  width: 333px;
  height: 333px;
  text-align: center;
  list-style-type: none;
}

.note_div .block_div ul li img {
  margin-top: 50px;
}

.note_div .block_div ul li .type_title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.note_div .block_div ul li .type_info {
  width: 250px;
  margin: 10px auto;
  font-size: 13px;
  color: gray;
  text-align: left;
  text-indent: 26px;
}

.note_div .block_div ul li .type_button {
  display: block;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  line-height: 30px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}

.note_div .block_div ul li .type_button:hover {
  background: gray;
}

.about_div ul {
  margin-top: 10px;
}

.about_div ul li {
  width: 800px;
  padding: 10px;
  margin: 10px auto;
  list-style-type: none;
}

.about_div ul li .title {
  font-size: 30px;
  font-weight: bold;
}

.about_div ul li .sub_title {
  margin-top: 10px;
  line-height: 25px;
  color: gray;
  text-indent: 32px;
}

.about_div ul li .sub_title a {
  text-decoration: none;
}

.about_div ul li .sub_title a:hover {
  color: #EDAB1E;
}

.conversation_div .viewcount_div {
  margin-top: 10px;
  color: gray;
}

.conversation_div .prev_next_div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.conversation_div .prev_next_div a {
  text-decoration: none;
}

.conversation_div .prev_next_div a:hover {
  color: red;
}

.conversation_div .title_div {
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
}

.conversation_div .sub_title_div {
  margin-top: 10px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.conversation_div .article {
  margin-top: 20px;
}

.conversation_div .article p {
  font-size: 16px;
  line-height: 30px;
  text-indent: 32px;
}

.conversation_div .article a {
  text-decoration: none;
}

.conversation_div .article a:hover {
  text-decoration: underline;
}

.conversation_div .note_director {
  margin-top: 10px;
  font-family: 'SimHei';
  font-size: 20px;
  font-weight: bold;
  text-indent: 32px;
}

.notedetail_div .left_div {
  float: left;
  width: 200px;
}

.notedetail_div .left_div ul {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-right: 1px solid #C6E0F1;
}

.notedetail_div .left_div ul li {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 20px;
  list-style-type: none;
}

.notedetail_div .left_div ul li a {
  text-decoration: none;
}

.notedetail_div .left_div ul li a:hover {
  color: red;
}

.notedetail_div .left_div ul .title1 {
  text-indent: 0;
}

.notedetail_div .left_div ul .title2 {
  font-size: 18px;
  line-height: 20px;
  text-indent: 10px;
}

.notedetail_div .left_div ul .title3 {
  font-size: 14px;
  line-height: 20px;
  text-indent: 20px;
}

.notedetail_div .right_div {
  display: relative;
  float: left;
  width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.notedetail_div .right_div .count_div {
  position: absolute;
  color: gray;
}

.notedetail_div .right_div .title {
  font-size: 30px;
  text-align: center;
}

.notedetail_div .right_div .content_div {
  margin-top: 20px;
}

.notedetail_div .right_div .content_div p {
  font-size: 16px;
  line-height: 30px;
  text-indent: 32px;
}

.notedetail_div .right_div .content_div a {
  text-decoration: none;
}

.notedetail_div .right_div .content_div a:hover {
  text-decoration: underline;
}

.notedetail_div .right_div .content_div .code_div {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #F5F5FA;
}

.notedetail_div .right_div .content_div .code_div pre {
  float: left;
}

.notedetail_div .right_div .content_div .code_div .try_button {
  position: absolute;
  top: 10px;
  right: 10px;
  float: right;
  text-decoration: none;
}

.notedetail_div .right_div .content_div .code_div .try_button:hover {
  color: red;
}

.donate {
  position: relative;
}

.donate img {
  position: absolute;
  top: 30px;
  left: -120px;
  z-index: 1;
  display: none;
}

.donate:hover img {
  display: block;
}

.admin_div .nav {
  width: 360px;
  margin: 30px auto;
}

.admin_div .nav ul li {
  float: left;
  margin-left: 20px;
  list-style-type: none;
}

.admin_div .nav ul li button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #57EF0B;
  border: 0;
  outline: none;
}

.admin_div .nav ul li button:hover {
  color: #DE5F25;
  background-color: #20A802;
}

.admin_div .manage {
  display: none;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.admin_div .manage table {
  width: 100%;
  margin: 0 auto;
}

.admin_div .manage table tr {
  height: 30px;
}

.admin_div .manage .topCheckDiv {
  margin-bottom: 20px;
}

.admin_div .manage .topCheckDiv input[type="text"] {
  width: 400px;
  height: 30px;
  padding-left: 5px;
  font-size: 20px;
  line-height: 30px;
}

.admin_div .manage .topCheckDiv button {
  width: 100px;
  height: 34px;
  margin-left: 20px;
  font-size: 20px;
  line-height: 30px;
  color: white;
  cursor: pointer;
  background-color: #094484;
  border: 0;
  outline: none;
}

.admin_div .manage .topCheckDiv button:hover {
  background-color: #05274D;
}

.studyForm {
  margin-bottom: 30px;
}

.studyForm .oneLine {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.studyForm .oneLine input[type="text"],
.studyForm .oneLine input[type="password"] {
  width: 300px;
  height: 30px;
  padding-left: 5px;
  font-size: 16px;
}

.noteForm {
  margin-bottom: 30px;
}

.noteForm .oneLine {
  margin-top: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
}

.noteForm .oneLine input[type="text"],
.noteForm .oneLine input[type="password"] {
  width: 300px;
  height: 30px;
  padding-left: 5px;
  font-size: 16px;
}

.pagination {
  display: inline-block;
  margin: 10px auto;
  text-align: center;
}

.pagination li {
  float: left;
  width: 20px;
  height: 20px;
  list-style-type: none;
}

.personal_div .personalInfo {
  height: 100px;
  margin: 20px auto;
  text-align: center;
}

.personal_div .personalInfo img {
  border-radius: 25px;
}

.personal_div .personalInfo span {
  display: inline-block;
  height: 50px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  vertical-align: top;
}

.personal_div .selectTitle {
  width: 500px;
  margin: 20px auto;
}

.personal_div ul {
  width: 500px;
  margin: 20px auto;
}

.personal_div ul li {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  list-style-type: none;
}

.personal_div ul li img {
  border-radius: 25px;
}

.personal_div ul li:hover {
  background: #D8D8D8;
}

.personal_div ul li.current {
  background: #61E014;
}

.personal_div .headImageBtn {
  display: none;
  width: 100px;
  height: 30px;
  margin: 50px auto;
  font-size: 14px;
  font-weight: bold;
  background: #90C0EA;
  outline: none;
}